.appStore__container
  = link_to "#", class: "download" do
    = image_tag('material/icon/app-store.svg', alt: 'appleのアイコン', class: "apple_store", id: "store_link")
  = link_to "#", class: "download" do
    = image_tag('material/icon/google-play.svg', alt: 'googleのアイコン', class: "google_play", id: "store_link")