.main-containar
  .header-containar
    = link_to "/", class: "header-containar__link" do
      = image_tag "material/logo/logo.png", class: "header-containar__link__logo-img", alt: "FURIMA logo"
  .user-information-registration
    .user-information-registration__text
      発送元・お届け先住所登録
    .user-information-registration__form
      %form#registration-form
        .form-group
          %label.label-name
            お名前
          %span.form-require
            必須
          %br/
          .form-group__set-input
            %input{type: "text", name: "first_name", class: "input-half", placeholder: "例)鈴木"}
            %input{type: "text", name: "family_name", class: "input-half", placeholder: "例)花子"}
        .form-group
          %label.label-name
            お名前カナ
          %span.form-require
            必須
          %br/
          .form-group__set-input
            %input{type: "text", name: "first_name_kana", class: "input-half", placeholder: "例)スズキ"}
            %input{type: "text", name: "family_name_kana", class: "input-half", placeholder: "例)ハナコ"}
        .form-group
          %label.label-name
            郵便番号
          %span.form-require 
            必須
          %br/
          %input{type: "text", name: "post_code", class: "input-normal", placeholder: "例) 810-0000", maxlength: "8", pattern: "\d{3}-\d{4}"}
        .form-group
          %label.label-name 
            都道府県
          %span.form-require
            必須
          %br/
          %input{type: "text", name: "prefecture", class: "input-normal", placeholder: "例) 福岡県"}
        .form-group
          %label.label-name
            市区町村
          %span.form-require
            必須
          %br/
          %input{type: "text", name: "city",class: "input-normal", placeholder: "例) 福岡市中央区"}
        .form-group
          %label.label-name
            番地
          %span.form-require
            必須
          %br/
          %input{type: "text", name: "house_number", class: "input-normal", placeholder: "例) 天神1-1-1"}
        .form-group
          %label.label-name
            建物名
          %span.form-arbitrary
            任意
          %br/
          %input{type: "text", name: "building_name", class: "input-normal", placeholder: "例) 福ビル101"}
        .form-group
          %label.label-name
            電話番号
          %span.form-arbitrary
            任意
          %br/
          %input{type: "number", name: "phone_number", class: "input-normal", placeholder: "例) 09011112222"}
        %button{type: "sumit", class: "registration-btn"}
          登録する      
  .footer-containar
    .footer-containar__info
      %p.footer-containar__info__text
        プライバシーポリシー
      %p.footer-containar__info__text
        フリマ用規約
      %p.footer-containar__info__text
        特定商取引に関する表記
    = link_to "/", clas: "footer-containar__link" do
      = image_tag "material/logo/logo-white.png", class: "footer-containar__link__logo-img", alt: "FURIMA logo-white"
    %p.footer-containar__inc
      © Furima, Inc.

