.nav-ber
  .nav-ber__box
    %ol
      %li
      %li

.mypage
  .side-ber
    .side-ber-box
      .side-ber-box__list
        .side-ber-box__list__head
          .side-ber-box__list__head__list
        .side-ber-box__list__config
          .side-ber-box__list__config__list

  .userpage
    %a.userpage-box
      %img{src:"#", width:"60",height:"60",style:"user-select: auto;"}
      %H2.userpage-box__name
        test
      .userpage-box__number
        %h2.userpage-box__number__evaluation
          評価 5
        %h2.userpage-box__number__items
          出品数 5
  
  .info
    .info-box
      .info-box__rlght
        お知らせ
      .info-box__left
        やることリスト
    .info-content
      .info-content__list
        %img{src:"#", width:"40",height:"40"}
        .info-content__list__body
          .info-content__list__body__text
            お買い物に使える！1,000円分のポイントが貰えるキャンペーン開催中！今すぐ参加しよう♪
          .info-content__list__body__time
             = link_to "#",class: "clock-icon"  do
              %i.far.fa-clock
            .info-content__list__body__time__hour
              5時間前
         = link_to "#",class: "nav_item"  do
          %i.fas.fa-chevron-right
    .info-list
      %a.list_box__list__text 一覧を見る
  
  .purchased
    %h2.purchased__text
        購入した商品
    .purchased__box
      .purchased__box__active
        取引中
      .purchased__box__later
        過去の取引
    .purchased__content
      %img{src:"#", width:"40",height:"40"}
      .purchased__content__text
        「The RSpec Book/豊田 祐司, クイープ, David Cheli...」を購入しました。取引きが完了しました
        .purchased__content__finish
          取引完了
    = link_to "#",class: "nav_item"  do
          %i.fas.fa-chevron-right
    .purchased__list
      .purchased__list__text
          一覧を見る



    

      



