.item_input_form_box{
  width: 700px;
  background-color: #fff;
  margin: 0 auto;
}

// inputForm.html.haml„ÅÆcss
.item_pictures{
  padding: 40px 40px 0 40px;
  #previews{}
  #exhibition-image-box{
    .js-file_group{

    }
  }
}

#item_box{
  padding: 40px 40px 0 40px;
  width: 700px;
  input{
    height: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 44px;
    width: 100%;
    padding: 0px 14px;
    margin-bottom: 30px;
  }
  textarea{
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 150px;
    width: 100%;
    padding: 15px 14px;
  }
}


.listing-form-box{
  padding: 0 40px;
  margin: 0 auto;
  width: 700px;
  .listing-default{
    &__label{
      font-size: 14px;
      font-weight: bold;
      vertical-align: top;
    }
    &--require{
      background: #ea352d;
      font-weight: bold;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }
  }
}

.about_delivery{
  padding: 10px 40px 0 40px;
}

.item_price{
  height: 150px;
  &__rabelform{
    float: left;
  }
  &__inputform{
    float: right;
  }
}

.price__input{
  height: 44px;
  width: 350px;
  margin-right: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;    
}
.about_delivery{
  padding: 10px 40px 0 40px;
}

.submit_box{
  height: 170px;
  padding: 0 160px;
  text-align: center;
  .form__submit{
    font-size: 17px;
    height: 44px;
    width: 360px;
    border-radius: 4px;
    font-weight: bold;
    padding: 2px 4px;
    border: 1px solid #fff;
    background: #3CCACE;
    color: #fff;
  }
  a{
    text-decoration: none;
    color: #3CCACE;
  }
}
select{
  height: 44px;
  width: 616px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}

.text_title{
  font-size: 14px;
  font-weight: bold;
  vertical-align: top;
}

.must{
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  margin: 10px;
}

.optional{
  background: #ddd;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 12px;
  vertical-align: top;
}


.size-input{
  height: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 44px;
  width: 100%;
  padding: 0px 14px;
  margin-bottom: 30px;
}
