.exhibition_contents{
  height: calc(100% - 278px);
  width: 100%;
  &__box{
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
  }
}

.item_image_box{
  padding: 40px;
  #dragDropArea{
    background-color: #f4f4f4;
    margin: 10px;
    padding: 50px 10px;
    border: #ddd dashed 1px;
    border-radius: 4px;
    text-align: center;
  }
    #dragDropArea p{
      font-size: 14px;
      color: black;
    }
      .drag-drop-buttons input{
        margin: auto;
        display: none;
      }
  &__form{
    margin: 20px 0;
  }  
  &__input{
    height: 150px;
  }
}

.item_name_box{
  height: 320px;
  padding: 40px;
  &__square{
    margin-bottom: 40px;
  }
}  
.input-box_item_name{
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 44px;
  width: 588px;
  padding: 0px 14px;
}

.input-box_explanation{
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 150px;
  width: 588px;
  padding: 15px 14px;
}    
.item_detail_box{
  padding: 40px;
}  
.item_category_box_square{
  margin-top: 20px;
}    
.shipping_item_box{
  padding: 10px 40px 40px 40px;
  &__exhibition-item_postage{
    margin-bottom: 20px;
  }
}  
.item_postage_payers_box_square{
  &__form{
    margin-top: 20px;
  }
}  

.item_price-box{
  height: 180px;
  padding: 40px 40px 0px 40px;
}

.item_exhibition_box{
  height: 170px;
  padding: 0 160px;
}  

.require{
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;}
  
.label{
  font-size: 14px;
  font-weight: bold;
  vertical-align: top;
}

select{
  height: 44px;
  width: 616px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}

.text_label{
  margin-bottom: 18px;
}

.text_form{
  margin: 10px 0;
}

.text-box{
  margin: 10px;
}

.input-box{
  height: 44px;
  width: 616px;
}


.submit-btn-red{
  font-size: 17px;
  height: 44px;
  width: 360px;
  margin: 10px;
  border-radius: 4px;
  font-weight: bold;
  padding: 2px 4px;
  border: 1px solid #fff;
  background: #ea352d;
  color: #fff;
}

.submit-btn-white{
  font-size: 17px;
  height: 44px;
  width: 360px;
  margin: 10px 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  padding: 2px 4px;
  border: 1px solid #ccc;
}

.return-btn{
  height: 44px;
  width: 360px;
  text-align: center;
}





