* {
  box-sizing: border-box;
}
#containar{
  height: 100vh;
  width: 100vw;
  .tp__header{
    height: 100px;
    width: 100%;
    background-color: #ffffff;
  }
  .tp__main{
    background-color: #f8f8f8;
  }
  #appBanner{
    position: relative;
    padding: 100px 40px;
    background-image: image-url("material/pict/bg-appBanner-pict.jpg");
    background-size: cover;
    background-position: center;
  }
  .tp__footer{
    height: 355px;
    padding: 60px 0;
    color: #fff;
    background-color: #272727;
    text-align: center;
  }
}