#appBanner{
  background-image: url("/assets/images/material/pict/bg-appBanner-pict.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .sup__inner{
    color: #fff;
    text-align: center;
    

  }
}