.nav-bar
  %ol
    %li.nav-var
      =link_to "/", class: "nav-var-text" do
        FURIMA
    %i.fas.fa-chevron-right
    %li.nav-ber-active
      購入完了ページ

.mypagewrapper
  =render 'module/side-bar'

  .card
    .card__title
      購入が完了しました！


    .card__content
      .card__content__form
        .card-button
          =link_to "/", class: "card-btn" do
            戻る
