%section.first_impression
  .fi__content
    %h2.content__title 人生を変えるフリマアプリ
    %p.content__text 
      フリマは誰でも簡単に出品・購入できる
      %br フリマアプリです
      = render "module/appStoreIcon"
%section.whyChoose
  %h2.wc__title
  %ul.wc__list
%section.performance
%section.characteristics
%section.pickupCategories.pickup__cont
%section.pickupBrands.pickup__cont


