%section.first_impression
  .fi__content
    %h2.content__title 人生を変えるフリマアプリ
    %p.content__text 
      フリマは誰でも簡単に出品・購入できる
      %br フリマアプリです
      = render "module/appStoreIcon"
%section.whyChoose
  %h2.wc__title フリマが選ばれる３つの理由
  %ul.wc__lists
    %li.list
      .list__picture
        %span.number 1
        = image_tag('material/pict/pict-reason-01.jpg')
      %h3.list__text
        %span 3分
        ですぐに出品
      %p.list__description スマホで入力するだけで簡単い出品できる！
    %li.list
      .list__picture
        %span.number 2
        = image_tag('material/pict/pict-reason-02.jpg')
      %h3.list__text
        %span シンプル
        で使いやすい
      %p.list__description
        面倒臭い入力は必要なく、検索も購入もスムーズ！
    %li.list.list--last
      .list__picture
        %span.number 3
        = image_tag('material/pict/pict-reason-03.jpg')
      %h3.list__text 
        手数料
        %span 業界最安
      %p.list__description
        最大3%でお得に出品＆購入！
%section.performance
  .performance__inner
    %h2.pi__title
    

%section.characteristics
%section.pickupCategories.pickup__cont
%section.pickupBrands.pickup__cont


