%section.first_impression
  .fi__content
    %h2.content__title 人生を変えるフリマアプリ
    %p.content__text 
      フリマは誰でも簡単に出品・購入できる
      %br フリマアプリです
      = render "module/appStoreIcon"
%section.whyChoose
  %h2.wc__title フリマが選ばれる３つの理由
  %ul.wc__lists
    %li.list
      .list__picture
        %span.number 1
        = image_tag('material/pict/pict-reason-01.jpg')
      %h3.list__text
      %p.list__description スマホで入力するだけで簡単い出品できる！
    %li.list
    %li.list.list--last
%section.performance
%section.characteristics
%section.pickupCategories.pickup__cont
%section.pickupBrands.pickup__cont


