.exhibition_contents
  .exhibition_contents-box
    .item_image-box
      .form.new.exhibition-item_image
        %a.label
          出品画像
        %span.require 
          必須
        .input-box
          %label{type: "text", class: "input-box", placeholder: "ドラッグアンドドロップまたはクリックしてファイルをダウンロード"}
          %label{class: "input-box_box"}
            %input{type: "file", class: "input-box"}
    .item_name-box        
      .form
        %a.label
          商品名
        %span.require
          必須
        .input-box_square
          %input{type: "text", class: "input-box", placeholder: "40文字まで"}
      .item_explanation-box      
        .form
          %a.label
            商品の説明
          %span.require
            必須
          .input-box
            %input{type: "text", class: "input-box_explanation", placeholder: "商品の説明(必須1,000文字以内)(色、素材、重さ、定価、注意点など)例)2010年ごろに1万円商品の説明(必須)(色、素材、重さ、定価、注意点など)"}
      
    .item_detail-box
      .item_detail-box_square  
        %p.exhibition-item_detail
          商品の詳細
        .form.new.exhibition-item_category
          %a.label
            カテゴリー
          %span.require
            必須
          .input-box_square
            %select{:name => "category"}
              %option{:value => ""} 選択してください
              %option{:value => "レディース"} レディース
              %option{:value => "メンズ"} メンズ
              %option{:value => "ベビー・キッズ"} ベビー・キッズ
              %option{:value => "インテリア・住まい・小物"} インテリア・住まい・小物
              %option{:value => "本・音楽・ゲーム"} 本・音楽・ゲーム
        .form.new.exhibition-item_brand
          %a.label
            ブランド
          %span.require
            必須
          .input-box_square
            %input{type: "text", class: "input-box__box", placeholder: "シャネル"}
        .form.new.exhibition-item_condition
          %a.label
            商品の状態
          %span.require
            必須
          .input-box_square
            %select{:name => "category"}
              %option{:value => ""} 選択してください
              %option{:value => "新品、未使用"} 新品、未使用
              %option{:value => "未使用に近い"} 未使用に近い
              %option{:value => "目立った傷や汚れなし"} 目立った傷や汚れなし
              %option{:value => "やや傷や汚れあり"} やや傷や汚れあり
              %option{:value => "傷や汚れあり"} 傷や汚れあり
              %option{:value => "全体的に状態が悪い"} 全体的に状態が悪い
    .item_postage_payers-box
      .item_postage_payers-box_square          
        %p.exhibition-item_postage
          発送について    
        .form.new.exhibition-item_postage_payers
          %a.label
            配送料の負担
          %span.require
            必須
          .input-box_square
            %select{:name => "category"}
              %option{:value => ""} 選択してください
              %option{:value => "送料込み(出品者負担)"} 送料込み(出品者負担)
              %option{:value => "着払い(購入者負担)"} 着払い(購入者負担)   
        .form.new.exhibition-item_shipping_origin
          %a.label
            発送元の地域
          %span.require
            必須
          .input-box_square
            %select{:name => "prefecture"}
              %option{:value => ""} 選択してください
              %option{:value => "北海道"} 北海道
              %option{:value => "青森県"} 青森県
              %option{:value => "岩手県"} 岩手県
              %option{:value => "宮城県"} 宮城県
              %option{:value => "秋田県"} 秋田県
              %option{:value => "山形県"} 山形県
              %option{:value => "福島県"} 福島県
              %option{:value => "茨城県"} 茨城県
              %option{:value => "栃木県"} 栃木県
              %option{:value => "群馬県"} 群馬県
              %option{:value => "埼玉県"} 埼玉県
              %option{:value => "千葉県"} 千葉県
              %option{:value => "東京都"} 東京都
              %option{:value => "神奈川県"} 神奈川県
              %option{:value => "新潟県"} 新潟県
              %option{:value => "富山県"} 富山県
              %option{:value => "石川県"} 石川県
              %option{:value => "福井県"} 福井県
              %option{:value => "山梨県"} 山梨県
              %option{:value => "長野県"} 長野県
              %option{:value => "岐阜県"} 岐阜県
              %option{:value => "静岡県"} 静岡県
              %option{:value => "愛知県"} 愛知県
              %option{:value => "三重県"} 三重県
              %option{:value => "滋賀県"} 滋賀県
              %option{:value => "京都府"} 京都府
              %option{:value => "大阪府"} 大阪府
              %option{:value => "兵庫県"} 兵庫県
              %option{:value => "奈良県"} 奈良県
              %option{:value => "和歌山県"} 和歌山県
              %option{:value => "鳥取県"} 鳥取県
              %option{:value => "島根県"} 島根県
              %option{:value => "岡山県"} 岡山県
              %option{:value => "広島県"} 広島県
              %option{:value => "山口県"} 山口県
              %option{:value => "徳島県"} 徳島県
              %option{:value => "香川県"} 香川県
              %option{:value => "愛媛県"} 愛媛県
              %option{:value => "高知県"} 高知県
              %option{:value => "福岡県"} 福岡県
              %option{:value => "佐賀県"} 佐賀県
              %option{:value => "長崎県"} 長崎県
              %option{:value => "熊本県"} 熊本県
              %option{:value => "大分県"} 大分県
              %option{:value => "宮崎県"} 宮崎県
              %option{:value => "鹿児島県"} 鹿児島県
              %option{:value => "沖縄県"} 沖縄県
        .form.new.exhibition-item_shipping_origin
          %a.label
            発送まで日数
          %span.require
            必須
          .input-box_square
            %select{:name => "category"}
              %option{:value => ""} 選択してください
              %option{:value => "1~2日で発送"} 1~2日で発送
              %option{:value => "2~3日で発送"} 2~3日で発送
              %option{:value => "4~7日で発送"} 4~7日で発送
    .item_price-box
      .item_price-box_square              
        %a.exhibition-item_price                
          価格（¥300〜9,999,999）

        .form.new.exhibition-item_price
          %a.label
            販売価格
          %span.require
            必須
    .form-box        
      .form
        %form.new.exhibition-item_start
          .input-box_square
            %input{type: "submit", value: "出品する", class: "submit-btn"}
            %input{type: "submit", value: "下書きに保存する", class: "submit-btn"}
          .return-box  