.nav-bar
  %ol
    %li.nav-var
      =link_to "#", class: "nav-var-text" do
        メルカリ
    %i.fas.fa-chevron-right
    %li.nav-var
      =link_to "#", class: "nav-var-text" do
        マイページ
    %i.fas.fa-chevron-right
    %li.nav-ber-active
      ログアウト

.mypagewrapper
  =render 'module/side-bar'

  .logout
    %form{action: "#", class: "logout-form"}
      .logout-content
        %button{type: "sumit", class: "logout-btn"}
          = link_to 'ログアウト', destroy_user_session_path, method: :delete