.nav-bar
  %ol
    %li.nav-var
      =link_to "/", class: "nav-var-text" do
        FURIMA
    %i.fas.fa-chevron-right
    %li.nav-var
      =link_to "#", class: "nav-var-text" do
        マイページ
    %i.fas.fa-chevron-right
    %li.nav-ber-active
      ログアウト

.mypagewrapper
  =render 'module/side-bar'

  .logout
    .logout-form
      .logout-content
        = form_tag(destroy_user_session_path, method: :delete, class: "logout-btn-text") do
          %button.logout-btn ログアウト