// ログイン画面

.body-containar {
  width: 700px;
  margin: 0 auto;
  padding: 24px 16px 40px;
  background-color: #fff;
}

.user-signup {
  height: 60%;
  text-align: center;
  padding: 40px 50px;
  margin: 0 auto;
  &__text {
    font-size: 14px;
  }
  &__link {
    display: block;
    line-height: 50px;
    width: 58%;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    background-color: #3CCACE;
    margin: 0 auto;
  }
}

.login-selection {
  margin: 0 auto;
  &__sns {
    padding: 40px 50px;

    &__link { 
      width: 58%;
      line-height: 50px;
      font-size: 14px;
      margin: 20px auto;
      display: block;
      text-align: center;
      border-radius: 4px;
      text-decoration: none;
      border:  solid 1px #979797;
      position: relative;
      &--google {
        color: #333;

      }
      &--facebook {
        color: #fff;
        background-color: #385185;

      }
      &--apple {
        color: #fff;
        background-color: #000;

      }
    }
  }
}

.icon-google {
  position: absolute;
  top: 25%;
  left: 14px;
  font-size: 25px;
  color: #2962ff;;


}

.icon-facebook {
  position: absolute;
  top: 20%;
  left: 14px;
  font-size: 30px;

}

.icon-apple {
  position: absolute;
  top: 20%;
  left: 14px;
  font-size: 30px;

}

.login-form {
  padding: 0 50px 40px;

}