body{
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

.nav-bar{
  position: relative;
  border-top: 1px solid #eee;
  background: #f5f5f5;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  z-index: 1;
  ol{
    overflow: visible;
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
    font-size: 0;
    li{
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      a{
        text-decoration: none;
        color: #333;
      }
    }
    i{
      margin: 0 8px;
      font-size: 10px;
      color: #888;
    }
    .nav-ber-active{
      font-weight: 600;
    }
  }
}

.mypagewrapper{
  margin: 40px auto 0;
  width: 1020px;
  height: 1310px;

  .userpage{
    float: right;
    width: 700px;
    position: relative;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background: image-url("light.jpg");
    background-size: 700px 200px;
    .userpage-box{
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: #333;
      text-decoration: none;
      width: 20%;
      margin: 0 auto;
      img{
        border-radius: 80%;
        width: 60px;
        height: 60px;
      }
      .userpage-box-name{
        font-weight: 600;
        margin: 8px 0 0;
        font-size: 14px;
      }
      &__number{
        margin: 8px 0 0;
        &__evaluation{
          display: inline-block;
          font-size: 14px;
        }
        &__items{
          display: inline-block;
          font-size: 14px;
          margin: 0 0 0 16px;
        }
      }
    }
  }

  .info{
    float: right;
    margin: 0;
    background: #fff;
    .info-box{
      display: flex;
      width: 700px;
      height: 100%;
      background: #eee;
      &__right{
        font-weight: bold;
        text-align: center;
        height: 74px;
        width: 50%;
        background-color: #fff;
        border-top: 2px solid #3CCACE;
        display: inline-block;
        line-height: 74px;
      }
      &__left{
        font-weight: bold;
        text-align: center;
        height: 74px;
        width: 50%;
        background-color: #eee;
        display: inline-block;
        line-height: 74px;
      }
    }
    .info-content{
      background-color: #fff;
      min-height:80px;
      display:flex;
      justify-content: space-between;
      font-size: 14px;
      margin: 0;
      align-items:center;
      border-bottom: #f5f5f5;
      &__list{
        height: 80px;
        border-bottom: 1px solid #eee;
        position: relative;
        img{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 45px;
          height: 48px;
          margin-top: 16px;
          margin-left: 13px;
          background-color: #eee;
        }
        &__body{
          margin: 0 30px 0 68px;
          display: block;
          height: 50px;
          padding: 16px;
          color: #333;
          margin-left: 60px;
          &__text{
            float: right;
          }
          &__time{
            color: #888;
            .clock-icon{
              margin: 2px 8px 0 0;
              font-size: 17px;
              float: left;
              color: #888;
            }
            &__hour{
              float: left;
            }
          }
        }
        .nav_item{
          i{
            position: absolute;
            top: 50%;
            right:16px;
            transform: translate(0, -50%);
            font-size: 15px;
          }
        }
      }
    }

    .info-list{
      height: 75px;
      width: 700px;
      a{
        text-decoration: none;
        color: #333;
        margin-top: 16px;
        margin-left: 16px;
        width: 668px;
        display: block;
        height: 56px;
        background: #eee;
        line-height: 56px;
        text-align: center;
      }
    }
  }

  .purchased{
    float: right;
    margin: 40px 0 0;
    background: #fff;
    width: 700px;
    &__text{
      padding: 0 16px;
      font-size: 16px;
      line-height: 72px;
      font-weight: bold;
    }
    &__box{
      display: flex;
      width: 700px;
      height: 100%;
      background: #eee;
      &__active{
        font-weight: bold;
        text-align: center;
        height: 74px;
        width: 50%;
        background-color: #eee;
        display: inline-block;
        line-height: 74px;
      }
      &__later{
        font-weight: bold;
        text-align: center;
        height: 74px;
        width: 50%;
        background-color: #fff;
        border-top: 2px solid #3CCACE;
        display: inline-block;
        line-height: 74px;
      }
    }
    .purchased-content{
      background-color: #fff;
      min-height:80px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin: 0;
      align-items:center;
      border-bottom: #f5f5f5;
      height: 104px;
      &__list{
        height: 104px;
        border-bottom: 1px solid #eee;
        position: relative;
        img{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 45px;
          height: 48px;
          margin-top: 16px;
          margin-left: 13px;
          background-color: #eee;
        }
        &__body{
          margin: 0 30px 0 68px;
          display: block;
          height: 70px;
          padding: 16px;
          color: #333;
          margin-left: 60px;
          &__text{
            float: right;
          }
          &__finish{
            background-color: #888;
            color: #fff;
            font-weight: bold;
            display: inline-block;
            margin: 8px 0 0 0;
            padding: 5px 6px;
            border-radius: 2px;
            font-size: 12px;
          }
        }
        .nav_item{
          i{
            position: absolute;
            top: 50%;
            right:16px;
            transform: translate(0, -50%);
            font-size: 15px;
          }
        }
      }
    }
    &__list{
      height: 75px;
      width: 700px;
      a{
        text-decoration: none;
        margin-top: 16px;
        margin-left: 16px;
        width: 668px;
        display: block;
        height: 56px;
        background: #eee;
        color: #333;
        line-height: 56px;
        text-align: center;
      }
    }
  }
}
